/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import '/comfortaa.ttf';
body {
    align-content: center;
    background-image: url("numbers.jpg");
    font-family: 'Comfortaa', cursive;
}

#title {
    text-align: center;
    color: #286090;
    font-size: 500%;
}

#options {
    padding-top: 25px;
    display: block;
}

#sudokuBox {
    padding-top: 25px;
    width: 65%;
    align-content: center;
}

.input-group {
    display: block;
}

.info {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

.loadMatchPanel {
    background-color: #2A7F99 !important;
    color: white !important;
    padding: 5px 5px;
    border-width: 10px;
    border-radius: 10px;
    text-align: center;
}