@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
    font-family: Comfortaa;
    src: url('../comfortaa.ttf');
}

#title {
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

#options {
    padding-top: 0px;
}

#timerDiv {
    text-align: left;
}

#infoWebSudoku {
    float: right;
    background-color: #B3B6A5;
    font-size: 18px;
}