@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
    font-family: Comfortaa;
    src: url('../comfortaa.ttf');
}

#title {
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}