<div id="save">
    <button class="btn btn-primary btn-block" id="saveGame"> SAVE GAME </button>
</div>
<br>
<div id="load">
    <button class="btn btn-info btn-block" id="loadGame" (click)="generate() "> GENERATE GAME </button></div>
<br>
<div class="input-group ">
    <select class="form-control " id="difficulty ">
                        <option selected disabled> Difficulty level </option>
                        <option>Easy</option>
                        <option>Elementary</option>
                        <option>Medium</option>
                        <option>Hard</option>
                    </select>
    <div id="level ">
        <button class="btn btn-primary btn-block " id="selectDifficulty "> SELECT DIFFICULTY </button>
    </div>
</div>
<br>
<div id="solution ">
    <button class="btn btn-success btn-block " id="showSolution " (click)="solve() "> SHOW SOLUTION </button>
</div>
<br>
<!-- <div class="loader " id="loader " hidden></div> Loader for standby solution time -->