<!--<app-timer></app-timer>-->
<div id="howToPlay">
    <button class="btn btn-info btn-block " id="showHowToPlay" (click)="openModal(howToPlayModal)"> HOW TO PLAY </button>
</div>
<br>

<div class="input-group">
    <select class="form-control " id="difficulty">
                            <option selected>Easy</option>
                            <option>Medium</option>
                            <option>Hard</option>
                        </select>
    <div id="level ">
        <button class="btn btn-primary btn-block " id="selectDifficulty" (click)="openModal(resignModal)"> SELECT DIFFICULTY </button>
    </div>
</div>
<br>

<div id="save">
    <button class="btn btn-primary btn-block" id="saveGame" (click)="openModal(template)"> SAVE GAME <span class="glyphicon glyphicon-floppy-disk"></span></button>
</div>
<br>

<div id="load">
    <button class="btn btn-primary btn-block" id="loadGame" (click)="openModal(loadModal)"> LOAD GAME <span class="glyphicon glyphicon-open"></span></button>
</div>
<br>

<div id="generate">
    <button class="btn btn-warning btn-block" id="generateGame" (click)="generate() "> GENERATE NEW GAME </button>
</div>
<br>

<div id="reset">
    <button class="btn btn-danger btn-block" id="resetGame" (click)="reset() "> RESET GAME </button>
</div>
<br>

<div id="solution ">
    <button class="btn btn-success btn-block " id="showSolution " (click)="solve() "> SOLVE BY BACKTRACK</button>
</div>
<br>

<div id="solutionStepByStep">
    <button class="btn btn-info btn-block " id="showSolutionStepByStep " (click)="solveStepByStep() ">BACKTRACK STEP BY STEP</button>
</div>
<br>

<div id="nakedSingle">
    <button class="btn btn-danger btn-block " id="showNakedSingleSolution " (click)="solveByNakedSingle() "> SOLVE BY NAKED SINGLE</button>
</div>
<br>

<div id="hiddenSingle">
    <button class="btn btn-warning btn-block " id="showHiddenSingleSolution " (click)="solveByHiddenSingle() "> SOLVE BY HIDDEN SINGLE</button>
</div>
<br>

<!-- *********************************************
                    MODALS
    **********************************************-->

<!--  HOW TO PLAY  -->
<ng-template #howToPlayModal>
    <div class="modal-header" id="howToHeader">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">&times;</button>
        <h3 class="modal-title" id="myModalTitle"><i class="fa fa-question-circle"></i> HOW TO PLAY</h3>
    </div>

    <div class="modal-body" id="howToBody">
        <ul>
            <li>
                <h4>Drag and drop the numbers from the right pane into the grid.</h4>
            </li>
            <li>
                <h4>Click in the number to delete it.</h4>
            </li>
        </ul>
    </div>
</ng-template>


<!--  SAVE  -->
<ng-template #template>
    <div class="modal-header" id="saveHeader">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">&times;</button>
        <h3 class="modal-title" id="myModalTitle"><span class="glyphicon glyphicon-floppy-disk"></span> SAVE THIS GAME</h3>
    </div>

    <div class="modal-body" id="saveBody">
        <form role="form" onsubmit="return false;" id="formSaveGame">
            <div class="form-group" id="groupUsername">
                <h4><label for="username">User name:</label></h4>
                <input type="text" class="form-control" id="username" autofocus="true" placeholder="Your name" maxlength="30" required/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="send" (click)="saveSudoku()">SAVE <span class="glyphicon glyphicon-floppy-disk"></span></button>
            </div>
        </form>
    </div>
</ng-template>


<!--  RESIGN  -->
<ng-template #resignModal>
    <div class="modal-header" id="resignHeader">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">&times;</button>
        <h3 class="modal-title" id="myModalTitle">ARE YOU SURE YOU WANT TO RESIGN?</h3>
    </div>

    <div class="modal-body" id="resignBody">
        <button id="btnConfirm" class="btn btn-primary" (click)="changeDifficulty()">Yes, I want to resign</button>
        <button id="btnCancel" class="btn btn-warning" (click)="modalRef.hide()">No, I will keep struggling</button>
    </div>
</ng-template>


<!--  LOAD  -->
<ng-template #loadModal>
    <div class="modal-header" id="loadHeader">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">&times;</button>
        <h3 class="modal-title" id="myModalTitle"><span class="glyphicon glyphicon-open"></span> LOAD YOUR GAMES</h3>
    </div>

    <div class="modal-body" id="loadBody">
        <form role="form" onsubmit="return false;" id="formLoadGame">
            <div class="form-group" id="groupUsername">
                <label for="loadUserName">User name:</label>
                <input type="text" class="form-control" id="loadUserName" autofocus="true" placeholder="Your name" maxlength="30" required/>
            </div>

            <div class="form-group" id="games">

            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="load" (click)="loadGames()">LOAD GAMES <span class="glyphicon glyphicon-open"></span></button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #errorModal id="modalError">
    <div class="modal-header" id="headerError">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">&times;</button>
        <h3 class="modal-title" id="myModalTitle"><i class="fa fa-warning"></i> Error</h3>
    </div>
    <div class="modal-body" id="myModalMessage">
        <br>
        <h4 id="messageError"></h4>
        <br>
    </div>
</ng-template>